<div class="header_left">
  <div class="app_title">
    Easy Slips
  </div>
</div>
<div class="header_right">
  <div class="user_left">
    既存のアカウントでログイン
  </div>
  <div class="user_right">
    新規ユーザー登録
  </div>
</div>

