<div class="container">
<div class="text-center">
  <div class="item">
    <%= link_to "よく使う商品を登録する", new_product_path %>
  </div>
  <div class="client">
    <%= link_to "よく使う取引先を登録する", new_client_path %>
  </div>
</div>
<div class="text-center">
  <div class="slip">
    伝票を作成する
  </div>
</div>
<div class="text-center">
  <div class="history">
    出荷記録を確認する
  </div>
</div>
</div>