<h2 class="text-center bg-primary text-white">登録済み取引先一覧</h2>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>登録日</th>
        <th>取引先名</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="bulk-registration-form">
      <%= client_lists(@clients) %>
    </tbody>
  </table>
  <% if @clients.length == 0 %>
    <div class="card text-center mt-3 mb-5">
      <div class="card-body">
        <h5 class="card-title text-danger">※取引先が登録されていません※</h5>
      </div>
    </div>
  <% end %>
</div>
<div class="text-center mt-3">
  <%= link_to "戻る", root_path, class: 'btn btn-success' %>
</div>  