<% if order.order_number.present? %>
  <tr class="item">
    <td>
      <%= order.order_number %>
    </td>
    <td>
      <%= order.color %>
    </td>
    <td>
      <%= order.count %>
    </td>
    <td>
      <%= order.note %>
    </td>
  </tr> 
<% end %>