<h2 class="text-center bg-primary text-white">作成済み伝票一覧</h2>
<div class="container">
  <h3 class="text-center mt-3">
    <%= link_to '商品検索へ', search_slips_path %>
  </h3>
  <div class="row">
    <%= slip_lists(@slips) %>
  </div>
  <% if @slips.length == 0 %>
    <div class="card text-center mt-3 mb-5">
      <div class="card-body">
        <h5 class="card-title text-danger">※伝票を作成してください※</h5>
      </div>
    </div>
  <% end %>
  <div class="text-center mt-3">
    <%= link_to "戻る", root_path, class: 'btn btn-success' %>
  </div>
</div>