h2.ms-5 {
  margin-bottom: 0px;
}

@media (min-width: 320px) {
  .center,
  .center img {
    height:200px;
  }
}

@media (min-width: 480px) {
  .center,
  .center img {
    height:250px;
  }
}

@media (min-width: 768px) {
  .center,
  .center img {
    height:450px;
  }
}

@media (min-width: 1200px) {
  .center,
  .center img {
    height:450px;
  }
}
