h2.ms-5 {
  margin-bottom: 0px;
}

.carousel{
  height: 200px;
  margin:auto;
}

@media (min-width: 320px) {
  .carousel,
  .carousel-item,
  .carousel-inner img {
    height:200px;
  }
}

@media (min-width: 480px) {
  .carousel,
  .carousel-item,
  .carousel-inner img {
    height:250px;
  }
}

@media (min-width: 768px) {
  .carousel,
  .carousel-item,
  .carousel-inner img {
    height:400px;
  }
}

@media (min-width: 1200px) {
  .carousel,
  .carousel-item,
  .carousel-inner img {
    height:400px;
  }
}
