<% if @form.products.any? { |product| product.errors.present? } %>
  <div class="alert alert-danger">
    <% @form.products.each do |product| %>
      <% if product.errors.present? %>
      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
      <% end %>
    <% end %>
  </div>
<% end %>
