<h2 class="text-center bg-primary text-white">登録済み商品一覧</h2>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>登録日</th>
        <th>品番</th>
        <th>商品名</th>
        <th>色</th>
        <th>販売価格</th>
        <th>備考</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="bulk-registration-form">
      <%= product_lists(@products) %>
    </tbody>
  </table>
  <% if @products.length == 0 %>
    <div class="card text-center mt-3 mb-5" style="width: 80rem;">
      <div class="card-body">
        <h5 class="card-title text-danger">※商品が登録されていません※</h5>
      </div>
    </div>
  <% end %>
</div>
<div class="text-center mt-3">
  <%= link_to "戻る", root_path, class: 'btn btn-success' %>
</div>  